.g{
  color: #4285F4;
  display: inline-block;
  margin-top: 150px;
  margin-right: 3px;
  font-family:'Product Sans' ;
  font-size: 84px;
}

.o{
  color: #DB4437;
  display: inline-block;
font-family:'Product Sans' ;
margin-right: 3px;
font-size: 84px;
}

.o2{
  color: #F4B400;
  display: inline-block;
font-family:'Product Sans' ;
margin-right: 3px;
font-size: 84px;
}

.g2{
  color: #4285F4;
  display: inline-block;
  font-family:'Product Sans' ;
  margin-right: 3px;
  font-size: 84px;
}

.l{
  color: #0F9D58;
  display: inline-block;
  font-family:'Product Sans' ;
  margin-right: 3px;
  font-size: 84px;
}

.e{
  color: #DB4437;
  display: inline-block;
  font-family:'Product Sans' ;
  margin-right: 3px;
  font-size: 84px;
}

.google{
  text-align: center;

}



}
.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:white;
  overflow:hidden;
  text-decoration: none;



}

li{
  display: inline;
  text-decoration: none;
}

body{
  margin: 0;
}
.topnav-a{
  float: left;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav-b{
  float: right;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 16px;

}
a {
  text-decoration: none;
  color: black;

}
